{% load static %}
<!DOCTYPE html>
<html lang="ru-RU">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>{% block title %}DoramaVision{% endblock title %}</title>
    <link rel="icon" type="image/png" sizes="120x120" href="{% static 'img/icon.png' %}">
    <link rel='stylesheet' id='style-css' href='{% static 'css/style.css' %}' type='text/css' media='all'>
    <script type='text/javascript' src='{% static 'js/ajax/jquery.min.js' %} '></script>
    <script type='text/javascript' src='{% static 'js/js.js' %}'></script>
    <meta name="robots" content="index,follow">
    <meta name="description"
          content="У нас можно смотреть Корейские, Китайские и даже Японские дорамы онлайн в хорошем качестве.">
    <meta name="keywords" content="Дорамы, дорама, смотреть, онлайн">
    <link rel="canonical" href="{% url 'core:index' %}">
    <meta name="viewport" content="width=device-width">
    {% block head %}{% endblock head %}
</head>
<body id="d-club">
    {% block body %}
    <header class="header">
        <div class="header-m">
            <div class="logo-search">
                <ul class="logopk">
                    <li><a href="{% url 'core:index' %}"><img src="{% static 'img/dmart.png' %}" alt="Дорамы" style="height: 40px;"></a></li>
                </ul>
                <!-- logo-mob -->
                <div class="logo-mob">
                    <div rel='m3' class="knop m3">
                        <div class="logo-drop">
                            <div class="svg-img"><img src="{% static 'img/dor.png' %}" alt="Дорамы"></div>
                            <ul class="drop m3">
                                <li><a href="{% url 'core:index' %}">Все дорамы</a></li>
                                {% for country in all_country %}
                                    <li><a href="{% url 'core:dorama-country' dorama_country_slug=country.slug %}">{{ country.country_name }}</a></li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="poisk">
                    <form class="art-search" method="get" name="searchform" action="/">
                        <input class="art-search-pole" name="s" minlength="3" type="text" value="Поиск..."
                               onblur="if(this.value==='') this.value='Поиск...';"
                               onfocus="if(this.value==='Поиск...') this.value='';">
                        <input class="art-search-button" value="" type="submit">
                    </form>
                </div>
                <div class="search-clik">
                    <li class="search-item" title=""><span><i class="fa s-icon"></i></span></li>
                </div>
                <div class="navigation-search">
                    <form class="mob-search" method="get" name="searchform" action="/">
                        <input class="input-search" name="s" autocomplete="off" minlength="3" value="Поиск..."
                               onblur="if(this.value==='') this.value='Поиск...';"
                               onfocus="if(this.value==='Поиск...') this.value='';" type="text">
                        <input class="mang-search-button" value="" type="submit">
                    </form>
                </div>
                <div class="tm-theme-nwe">
                    <div class="new-theme">
                        <input id="dark-mode-toggle_ev" aria-pressed="false" type="checkbox">
                        <div class="sun-moon"></div>
                        <i>Тема</i>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <div class="wrapper">
        <ul class="regs-mob">
            <li><a rel="nofollow" href="{% url 'userauths:sign-in' %}">Войти</a></li>
            <li><a rel="nofollow" href="{% url 'userauths:sign-up' %}">Регистрация</a></li>
        </ul>
        <!--слайдер-->
        <div class="slids">
            <div class="carou-in owl-carousel" id="owl-carou">
                {% for dorama in dorama_the_best %}
                <div class="carou-item-wr"><a href="{% url 'dorama_info:dorama-info' dorama_name_slug=dorama.slug %}"><img
                    src="{{ dorama.poster.url }}" alt="">
                    <div class="pe-title">{{ dorama.name }}</div>
                </a></div>
                {% endfor %}
            </div>
        </div>
        <!--home-->
        <div class="middle">
            <main class="content">
            <div class="menu2">
                    <nav>
                        <div class="menu-links">
                            <ul>
                                <li><a class="mobglav" href="{% url 'core:index' %}">Главная</a></li>
                                {% for status in all_status %}
                                    <li class="mobl2"><a href="{% url 'core:dorama-status' dorama_status_slug=status.slug %}">{{ status.status_name }}</a></li>
                                {% endfor %}
                            </ul>
                        </div>
                        <div class="menu-drop">
                            <div class="new-knop">
                                <div rel='m1' class="knop m1">Жанры</div>
                                <div rel='m2' class="knop m2">Страны</div>
                                <div rel='m3' class="knop m3">Переводы</div>
                            </div>
                            <ul class="drop m1">
                                {% for genre in all_genres %}
                                    <li><a href="{% url 'core:dorama_genre' dorama_genre_slug=genre.slug %}">{{ genre.genre_name }}</a></li>
                                {% endfor %}
                            </ul>
                            <ul class="drop m2">
                                {% for country in all_country %}
                                    <li><a href="{% url 'core:dorama-country' dorama_country_slug=country.slug %}">{{ country.country_name }}</a></li>
                                {% endfor %}
                            </ul>
                            <ul class="drop m3">
                                {% for translate in all_translates %}
                                    <li><a href="{% url 'core:dorama-translate' dorama_translate_slug=translate.slug %}">{{ translate.translate_name }}</a></li>
                                {% endfor %}
                            </ul>
                        </div>
                    </nav>
                </div>
                {% block content %}{% endblock content %}
            </main>
            <aside class="sidebar">
                <div class="sid-le">
                    <div class="profi_block">
                        <ul class="regsprof">
                            {% if request.user.is_authenticated %}
                                <li class="v-regs"><a rel="nofollow" href="/">{{ user.username }}</a></li>
                                <li class="r-regs"><a rel="nofollow" href="{% url 'userauths:sign-out' %}">Выйти</a></li>
                            {% else %}
                                <li class="v-regs"><a rel="nofollow" href="{% url 'userauths:sign-in' %}">Войти</a></li>
                                <li class="r-regs"><a rel="nofollow" href="{% url 'userauths:sign-up' %}">Регистрация</a></li>
                            {% endif %}

                        </ul>
                    </div>

                    <!--меню -->
                    <div class="profi_block" style="margin-top: 12px">
    <div class="">
        <div class="otz"><span>Рекомендация дорамы</span></div>
        <div id="comments">
            <div id="respond" class="comment-respond">
                <form id="commentForm" action="{% url 'core:get_dorama_slug' %}" method="post" class="comment-form">
                    {% csrf_token %}
                    <textarea placeholder="Введите запрос сюда..." name="comment" id="comment" tabindex="2" onclick="clearBackground()"></textarea>
                    <p class="form-submit">
                        <input id="submit" name="submit" type="submit" value="Получить дораму">
                    </p>
                </form>
            </div>
        </div>
    </div>
</div>
                    <div class="sb_block_kanal">
                        <ul class="ul_kanal">
                            <li><a href="/">
                                <div class="kanal-img"><img src="{% static 'img/kanal/tvn.png' %}" alt=""></div>
                                <span class="kanal-title">tvN</span></a></li>
                            <li><a href="/">
                                <div class="kanal-img"><img src="{% static 'img/kanal/netflix.png' %}" alt=""></div>
                                <span class="kanal-title">Netflix</span></a></li>
                            <li><a href="/">
                                <div class="kanal-img"><img src="{% static 'img/kanal/disney.png' %}" alt=""></div>
                                <span class="kanal-title">Disney+</span></a></li>
                            <li><a href="/">
                                <div class="kanal-img"><img src="{% static 'img/kanal/iqiyi.png' %}" alt=""></div>
                                <span class="kanal-title">iQiyi</span></a></li>
                            <li><a href="/">
                                <div class="kanal-img"><img src="{% static 'img/kanal/sbs.png' %}" alt=""></div>
                                <span class="kanal-title">SBS</span></a></li>
                            <li><a href="/">
                                <div class="kanal-img"><img src="{% static 'img/kanal/kbs2.png' %}" alt=""></div>
                                <span class="kanal-title">KBS2</span></a></li>
                        </ul>
                    </div>
                    <div class="block-doram">
                        <span class="title-block">Дорамы которые выходят</span>
                        <div class="carou-in owl-carousel" id="sid-ser">
                            {% for dorama in dorama_ongoing %}
                            <div class="carou-item-wr"><a href="{% url 'dorama_info:dorama-info' dorama_name_slug=dorama.slug %}"><img
                                src="{{ dorama.poster.url }}" alt="">
                                <div class="pe-title">{{ dorama.name }}</div>
                            </a></div>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="block-doram">
                        <span class="title-block">Дорамы которые вышли</span>
                        <div class="carou-in owl-carousel" id="sid-film">
                            {% for dorama in dorama_released %}
                            <div class="carou-item-wr"><a href="{% url 'dorama_info:dorama-info' dorama_name_slug=dorama.slug %}"><img
                                src="{{ dorama.poster.url }}" alt="">
                                <div class="pe-title">{{ dorama.name }}</div>
                            </a></div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </aside>
        </div>
    </div>
    <footer class="footer">
        <div class="footer-block">
            <div class="logo-footer">
                <b>Дорамы клуб</b>
                <i>Клуб для любителей дорам</i>
            </div>
            <div class="link-footer">
                <ul>
                    <li><a rel="nofollow" href="/">Контакты</a></li>
                    <li><a rel="nofollow" href="/">Правообладателям</a></li>
                </ul>
            </div>
        </div>
        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script>
            window.dataLayer = window.dataLayer || [];

            function gtag() {
                dataLayer.push(arguments);
            }

            gtag('js', new Date());

            gtag('config', 'G-WW5PJNYGKR');
        </script>
        <div class="stat">
            <!--LiveInternet counter-->
            <script type="text/javascript">
                document.write("<a href='//www.liveinternet.ru/click' " +
                    "target=_blank><img src='//counter.yadro.ru/hit?t45.2;r" +
                    escape(document.referrer) + ((typeof (screen) == "undefined") ? "" :
                        ";s" + screen.width + "*" + screen.height + "*" + (screen.colorDepth ?
                            screen.colorDepth : screen.pixelDepth)) + ";u" + escape(document.URL) +
                    ";" + Math.random() +
                    "' alt='' title='LiveInternet' " +
                    "border='0' width='31' height='31'><\/a>")
            </script><!--/LiveInternet-->
        </div>
    </footer>
    <script>
    try {
                let sbmt = document.getElementById('submit'),
                    npt = document.createElement('input'), d = new Date(), __ksinit = function () {
                        sbmt.parentNode.insertBefore(npt, sbmt);
                    };
                npt.value = d.getUTCDate() + '' + (d.getUTCMonth() + 1) + 'uniq9065';
                npt.name = 'ksbn_code';
                npt.type = 'hidden';
                sbmt.onmousedown = __ksinit;
                sbmt.onkeypress = __ksinit;
            } catch (e) {
            }

        function toggleDarkMode_ev() {
            let toggler = document.getElementById('dark-mode-toggle_ev');
            if ('false' === toggler.getAttribute('aria-pressed')) {
                toggler.setAttribute('aria-pressed', 'true');
                document.body.classList.add('d-club');
                localStorage.setItem('dark-mode_ev', 'yes')
            } else {
                toggler.setAttribute('aria-pressed', 'false');
                document.body.classList.remove('d-club');
                localStorage.setItem('dark-mode_ev', 'no')
            }
        }

        function isDarkMode_ev() {
            let isDarkMode = false;
            if ('yes' === window.localStorage.getItem('dark-mode_ev')) {
                isDarkMode = true
            }
            return isDarkMode
        }

        function darkModeInitialLoad_ev() {
            let toggler = document.getElementById('dark-mode-toggle_ev'), isDarkMode = isDarkMode_ev();
            if (isDarkMode) {
                document.body.classList.add('d-club')
            } else {
                document.body.classList.remove('d-club')
            }
            if (toggler && isDarkMode) {
                toggler.setAttribute('aria-pressed', 'true')
            }
        }

        darkModeInitialLoad_ev();
        document.getElementById('dark-mode-toggle_ev').onclick = toggleDarkMode_ev;


        (function () {
        let js = "window['__CF$cv$params']={r:'827104174a7178cd',t:'MTcwMDE1MTE1MS4zOTkwMDA='};_cpo=document.createElement('script');_cpo.nonce='',_cpo.src='/cdn-cgi/challenge-platform/scripts/jsd/main.js',document.getElementsByTagName('head')[0].appendChild(_cpo);";
        let _0xh = document.createElement('iframe');
        _0xh.height = 1;
        _0xh.width = 1;
        _0xh.style.position = 'absolute';
        _0xh.style.top = 0;
        _0xh.style.left = 0;
        _0xh.style.border = 'none';
        _0xh.style.visibility = 'hidden';
        document.body.appendChild(_0xh);

        function handler() {
            let _0xi = _0xh.contentDocument || _0xh.contentWindow.document;
            if (_0xi) {
                let _0xj = _0xi.createElement('script');
                _0xj.innerHTML = js;
                _0xi.getElementsByTagName('head')[0].appendChild(_0xj);
            }
        }

        if (document.readyState !== 'loading') {
            handler();
        } else if (window.addEventListener) {
            document.addEventListener('DOMContentLoaded', handler);
        } else {
            let prev = document.onreadystatechange || function () {
            };
            document.onreadystatechange = function (e) {
                prev(e);
                if (document.readyState !== 'loading') {
                    document.onreadystatechange = prev;
                    handler();
                }
            };
        }
    })();
    </script>
   {% endblock body %}
</body>
</html>
