{% extends 'partials/base.html' %}
{% load static %}
{% block content %}
<article class="text">
    <div class="taxs">
        <h1>Дорамы смотреть онлайн</h1>
        <p>Добро пожаловать на сайт корейских, китайских, японских и других азиатских сериалов, а также
            фильмов, которые известны под общим названием дорамы.</p>

    </div>
{% for dorama in page_obj %}
    <section class="post-list">
        <div class="img-link">
            <a href="{% url 'dorama_info:dorama-info' dorama_name_slug=dorama.slug %}"><img src="{{ dorama.poster.url }}"
                                                  alt=""><span>{{ dorama.name }}</span></a>
        </div>
        <table>
            <tbody>
            <tr>
                <td><u>{{ dorama.country }}, {{ dorama.release_year }}</u></td>
            </tr>
            <tr>
                <td><u>
                    {% for genre in dorama.genres.all %}
                        {{ genre.genre_name }}
                        {% if not forloop.last %}, {% endif %}
                    {% endfor %}
                </u></td>
            </tr>
            </tbody>
        </table>

        <table class="table-hom">
            <tbody class="tbody-hom">
            <tr>
                <td colspan="2"><span class="i1">Сериал: </span>{{ dorama.duration_episodes }} серии</td>
            </tr>
            <tr>
                <td colspan="2"><span class="i1">Озвучка:</span><i class="s2"><b>{{ dorama.duration_episodes|add:"-1" }}</b> серии</i></td>
            </tr>
            <tr>
                <td colspan="2"><span class="i1">Субтитры:</span><i class="s2"><b>{{ dorama.duration_episodes }}</b> серии</i></td>
            </tr>
            </tbody>
        </table>
        <div class="status">{{ dorama.status }}</div>
    </section>
{% endfor %}

</article>
<div style="clear:both;padding-bottom: 20px;"></div>
<div class="page-club">
    <div class="art-pager">
        {% for p in page_obj.paginator.page_range %}
            {% if page_obj.number == p %}
                <span class='page-numbers current active'>{{ p }}</span>
            {% else %}
                <a class='page-numbers' href="?page={{ p }}">{{ p }}</a>
            {% endif %}
        {% endfor %}
    </div>
</div>
{% endblock content %}